body{
  background-image: ;
  text-size: 15px;
}

h1{
  color: #rgb(0, 3, 51);
  text-align: center;
  border: solid;
  border-width: length(12px);
  border-color: rgba:(227, 224, 148, 0.7);
}
img{
  background-image: url("https://user-images.githubusercontent.com/115473530/195103722-d803cee9-5f23-4117-95a6-5d6ae165e71c.png");
}
div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90px;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
  animation: blink 1s steps(4, start) infinite;
}
@-moz-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-o-keyframes blink {
  to {
    visibility: hidden;
  }
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}

.historia {
  text-align: right;
}
