body{
background-color: #202547;
}
#muda{
 color: #fff;
}
#fundo{
 background-image: url("https://user-images.githubusercontent.com/115472908/203187427-fb485e63-9212-40fa-8083-89aeedc3d2ff.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50px;
  border: solid 10px;
  border-color: lightblue;
}

.dropdown{
  position:  absolute;
  display:  inline-block;
  margin: 90px 0px 0px 980px;
  
}
h1{
  text-align: center;
  color: white;
}
.quisques{
  position: absolute;
  display:  inline-block;
  margin: 0px 0px 0px 1140px;
}
.biblioteca{
  position:  absolute;
  display:  inline-block;
  margin: 163px 0px 0px 480px;
}
.quadrafechada{
  position: absolute;
  display:  inline-block;
  margin: 180px 0px 0px 800px;
}
.almoxarifado{
  position: absolute;
  display:  inline-block;
  margin: 0px 0px 0px 1200px;
}
.refeitorio{
  position: absolute;
  display:  inline-block;
  margin: 0px 0px 0px 1110px;
}
.entrada{
  position: absolute;
  display:  inline-block;
  margin: 10px 0px 0px 840px;
}
.armarios{
position: absolute;
display:  inline-block;
margin: 140px 0px 0px 860px;
}
.mirante{
position: absolute;
display:  inline-block;
margin: 240px 0px 0px 830px;
}
.quadraareia{
position: absolute;
display:  inline-block;
margin: 0px 0px 0px 1090px;
}
.cantina{
position: absolute;
display:  inline-block;
margin: 10px 0px 0px 400px;
}
.saladosprof{
position: absolute;
display:  inline-block;
margin: 0px 0px 0px 0px;
}
.nas{
position: absolute;
display:  inline-block;
margin: 0px 0px 0px 0px;
}
.blocod{
position: absolute;
display:  inline-block;
margin: 0px 0px 0px 0px;
}
.blocoe{
position: absolute;
display:  inline-block;
margin: 0px 0px 0px 1000px;
}
.alojamentomasc{
position: absolute;
display:  inline-block;
margin: 0px 0px 0px 1130px;
}
.vestiario{
position: absolute;
display:  inline-block;
margin: 0px 0px 0px 0px;
}
.academia{
position: absolute;
display:  inline-block;
margin: 20px 0px 0px 1090px;
}
.quadraaberta{
position: absolute;
display:  inline-block;
margin: 100px 0px 0px 860px;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.quisques:hover .dropdown-content{
  display: block;
}
.biblioteca:hover .dropdown-content{
  display: block;
}
.quadrafechada:hover .dropdown-content{
  display: block;
}
.almoxarifado:hover .dropdown-content{
  display: block;
}
.refeitorio:hover .dropdown-content{
  display: block;
}
.entrada:hover .dropdown-content{
  display: block;
}
.armarios:hover .dropdown-content{
  display: block;
}
.mirante:hover .dropdown-content{
  display: block;
}
.quadraareia:hover .dropdown-content{
  display: block;
}
.cantina:hover .dropdown-content{
  display: block;
}
.saladosprof:hover .dropdown-content{
  display: block;
}
.nas:hover .dropdown-content{
  display: block;
}
.blocod:hover .dropdown-content{
  display: block;
}
.blocoe:hover .dropdown-content{
  display: block;
}
.alojamentomasc:hover .dropdown-content{
  display: block;
}
.vestiario:hover .dropdown-content{
  display: block;
}
.academia:hover .dropdown-content{
  display: block;
}
.quadraaberta:hover .dropdown-content{
  display: block;
}
.desc{
  padding: 5px;
  text-align: center;
}

#nav{
    margin: 20px;
    text-align: center;
    font-size: 20px;
}
.botao_nav{
    text-decoration: none;
    background-color: rgb(248, 136, 0);
    border-style: solid;
    border-color: #000000;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
.botao_nav:hover{
    color: rgb(0, 212, 81);
    background-color: rgb(94, 94, 94);
}

